/* Global Reset and Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5d9d9;
    color: #333;
    margin: 0;
    padding: 0;
    /* Background Image */
    background-image: url("{{ url_for('static', filename='background_image.jpg') }}");
    background-size: cover;
    background-position: center;
}

/* Header styles */
header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Section styles */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Meal Card styles */
.meal {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.meal img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.meal h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.meal p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Meal Card Button */
.meal button {
    background-color: #e73a15;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover Effect on Meal Card Button */
.meal button:hover {
    background-color: #e73a15;
}

/* Footer styles */
footer {
    background-color: rgba(82, 35, 31, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
